/* Set Inter font as specified in https://rsms.me/inter/inter.css */
:root { 
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

/* Variables */
:root {
  --primary-400: #60a5fa;
  --primary-500: #3b82f6;
  --primary-600: #2563eb;
  --primary-700: #1d4ed8;
  --primary-800: #1e40af;
  --primary-900: #1e3a8a;
  --black-50: #fafafa;
  --black-100: #f4f4f5;
  --black-200: #e4e4e7;
  --black-300: #d4d4d8;
  --black-400: #a1a1aa;
  --black-700: #3f3f46;
  --black-800: #27272a;
  --black-900: #18181b;
  --secondary-400: #fb923c;
  --seconary-600: #ea580c;
}

/* General HTML Element Styling */
html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: var(--black-800);
}

body {
  font-weight: 400;
  letter-spacing: -0.004em;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--black-900);
}

h1 {
  font-weight: 750;
  font-size: 2.5rem;
  letter-spacing: -0.055em;
}

h2 {
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: -0.055em;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-weight: 650;
  font-size: 1.2rem;
  letter-spacing: -0.018em;
}

p {
  line-height: 1.5rem;
}

/* Utility classes */
.small-icon {
  height: 1.2rem;
  width: auto;
}

.medium-icon {
  height: 1.5rem;
  width: auto;
}

.is-hidden {
  display: none;
}

/* Navbar Styling */
.navbar {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  min-height: 3.25rem;
  background-color: var(--primary-500);
  display: flex;
  align-items: center;
  z-index: 30;
}

.navbar-item {
  padding: 0.5rem 0.75rem;
}

.burger span {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--black-50);
  display: block;
}

.burger {
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Menu Styling */
.menu {
  box-sizing: border-box;
  position: fixed;
  overflow-y: auto;
  top: 3.25rem;
  width: 280px;
  background-color: var(--black-100);
  height: 100%;
  padding: 2rem;
  font-size: 1.2rem;
  z-index: 30;
  transition: transform 150ms ease;
}

.menu.is-hidden {
  transform: translateX(-280px);
  display: block;
}

.menu-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
}

.menu-item img {
  color: var(--primary-500);
  margin-right: 0.5rem;
}

.menu-item.sub-item {
  padding-left: 2rem;
}

.menu-item:hover,
.menu .selected {
  background-color: var(--black-200);
}

/* Main Content Styling */
#content {
  position: relative;
  top: 3.25rem;
  padding: 1rem 0.75rem;
  box-sizing: border-box;
}

#content h1 {
  font-size: 2rem;
}

.project-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.todos {
  margin-bottom: 2rem;
}

.todo {
  display: flex;
  border-radius: 6px;
  padding: 0.75rem;
}

.todo:hover {
  background-color: var(--black-50);
}

.radio {
  margin-top: 2px;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1.5px var(--black-700) solid;
  margin-right: 1rem;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  aspect-ratio: 1;
}

.radio.selected {
  padding: 0.15rem;
  background-clip: content-box;
  background-color: var(--secondary-400);
}

.project-details {
  margin-right: auto;
}

.todo .title {
  color: var(--black-900);
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.todo .sub-title {
  color: var(--black-700);
  font-size: 0.85rem;
}

.delete {
  cursor: pointer;
  margin-left: 1rem;
}

.add-todo {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 1rem 0;
}

.plus {
  margin-right: 1rem;
  color: var(--seconary-600);
  padding: 0.25rem;
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.add-todo:hover .plus {
  background-color: var(--seconary-600);
  color: var(--black-50);
}

.add-todo:hover {
  color: var(--seconary-600);
}

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  overflow-y: auto;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal.active {
  display: block;
}

.modal-card {
  background-color: var(--black-50);
  margin: 2rem auto;
  padding: 20px;
  border-radius: 6px;
  width: 80%;
  max-width: 900px;
}

.modal-header {
  margin-bottom: 1rem;
}

.close {
  margin-left: auto;
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.close:hover,
.close:focus {
  background-color: var(--black-200);
  border-radius: 6px;
  cursor: pointer;
}

.modal-card h1 {
  font-size: 2rem;
}

/* Bulma Form Styling from https://github.com/jgthms/bulma/blob/master/css/bulma.css  */
input, textarea, select {
  box-sizing: border-box;
}

.label:not(:last-child) {
  margin-bottom: 0.5em;
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
}

.field:not(:last-child) {
  margin-bottom: 0.75rem;
}

.field-label .label {
  font-size: inherit;
}

.control {
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}

.button {
  color: var(--black-50);
  background-color: var(--primary-600);
}

.button:hover {
  background-color: var(--primary-500);
}

.button:active {
  background-color: var(--primary-700);
}

.button, .input, .textarea, .select select, .date input[type="date"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
  position: relative;
  vertical-align: top;
}

.button:focus, .input:focus, .textarea:focus, .select select:focus, .date input[type="date"]:focus,
.button:active, .input:active, .textarea:active, .select select:active, .date input[type="date"]:active {
  outline: none;
}

.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.4375em;
  pointer-events: none;
  position: absolute;
  top: 45%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

.input, .textarea, .select select, .date input[type="date"] {
  background-color: white;
  border-color: #dbdbdb;
  border-radius: 4px;
  color: #363636;
}

.input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder, .date input[type="date"]::-moz-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder, .date input[type="date"]::-webkit-input-placeholder {
  color: rgba(54, 54, 54, 0.3);
}

.input:hover, .textarea:hover, .select select:hover, .date input[type="date"]:hover {
  border-color: #b5b5b5;
}

.input:focus, .textarea:focus, .select select:focus, .date input[type="date"]:focus {
  border-color: #485fc7;
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}

.input, .textarea {
  box-shadow: inset 0 0.0625em 0.125em rgba(10, 10, 10, 0.05);
  max-width: 100%;
  width: 100%;
}

.textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  padding: calc(0.75em - 1px);
  resize: vertical;
}

.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
}

.textarea[rows] {
  height: initial;
}

.select, .date {
  display: inline-block;
  max-width: 100%;
  position: relative;
  vertical-align: top;
}

.select:not(.is-multiple), .date {
  height: 2.5em;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: #485fc7;
  right: 1.125em;
  z-index: 4;
}

.select select, .date input[type="date"] {
  cursor: pointer;
  display: block;
  font-size: 1em;
  max-width: 100%;
  outline: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:not([multiple]) {
  padding-right: 2.5em;
}

.select select[multiple] {
  height: auto;
  padding: 0;
}

.select:not(.is-multiple):not(.is-loading):hover::after {
  border-color: #363636;
}

.date input[type="date"] {
  font: inherit;
}

